html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
font-family: "Arimo:700", sans-serif;
font-weight: 700;
}

h2 {
font-family: "Arimo:700", sans-serif;
text-align: center;
}

.cards {
  width: 100%
}

.deck {
  width: 70%;
  margin: 0.5em auto;
}

#black-card-text {
  border: 3px solid;
  border-color: black;
  border-radius: 15px;
  background: black;
  padding: 1em;
  position: absolute;
  top: 65px;
  left: 13px;
  color: white; 
  width: 250px; 
  height:350px; 
  font-family: 'Arimo:700', sans-serif; 
  line-height: 1.4; 
  font-size: large
}

#white-card-text {
  border: 3px solid;
  border-color: black;
  border-radius: 15px;
  background: white;
  padding: 1em;
  color: black; 
  position: absolute; 
  top: 65px; 
  left:283px; 
  width: 250px; 
  height:350px; 
  font-family: 'Arimo:700', sans-serif; 
  line-height: 1.4; 
  font-size: large;
  text-align: center
}

.buttons {
  display: block;
  position: absolute;
  top: 425px;
  left: 13px;
}
